# web framework (backend)
fastapi
uvicorn[standard]

# serial communication (arduino)
pyserial

# camera - image handling
opencv-python
# opencv-python-headless
numpy

# data handling & logging
pydantic

# for README.md file
python-dotenv